POSTGRES_URL=jdbc:postgresql://localhost:5432/AgriDatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secret

JWT_SECRET=NU8VtAE+1Ga0Xrk6oJCe7HqHRMSNT1e8kgZW/6wZdT4=
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

ALLOWED_ORIGIN=http://localhost:4200
